body {
     margin: 5px;
}

h1 {
     font-family: 'Noto Sans', sans-serif;
     max-width: 1000px;
     margin: 0 auto;
}

/* header styles */
.title h1,
ul,
li,
a {
     font-family: 'Roboto Mono', monospace;
}

.title img {
     vertical-align: middle;
     margin-right: 1px;
}

.title {
     padding: 0;
     list-style-type: none;
     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-wrap: wrap;
     margin: 0 auto;
     max-width: 1000px;
     width: 100%;
}

nav ul li {
     text-decoration: none;
     display: inline-block;
}

li a,
.dropbtn {
     display: inline-block;
     color: black;
     text-align: center;
     padding: 10px 11px;
     text-decoration: none;
}

li a:hover,
.other-projects:hover .dropbtn {
     background-color: black;
     color: white;
}

li.other-projects {
     display: inline-block;
}

.dropdown-content {
     display: none;
     position: absolute;
     background-color: black;
     min-width: 160px;
     z-index: 1;
}

.dropdown-content a {
     color: white;
     padding: 10px 11px;
     text-decoration: none;
     display: block;
     text-align: left;
}

.dropdown-content a:hover {
     background-color: white;
     color: black;
}

.other-projects:hover .dropdown-content {
     display: block;
}

nav.ul {
     list-style-type: none;
}

nav>ul {
     display: flex;
     justify-content: flex-end;
}

/* end of header styles */

footer {
     font-family: 'Roboto Mono', sans-serif;
     text-align: center;
     padding: 25px;
     font-size: 1rem;
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     margin: 0 auto;
     max-width: 1000px;
     flex: 1;
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 767px) {
     .title {}
}

@media screen and (max-width: 480px) {
     .title ul {
          margin: 0;
     }

     .nav ul {
          display: block;
     }

     .title-h1 {
          margin: auto;
     }

     .footer {
          text-align: center;
     }
}

@media screen and (max-width: 320px) {
     .title ul {
          margin: 0;
     }

     .nav ul {
          display: block;
     }

     .title-h1 {
          margin: auto;
     }
}