<nav class="title">
     <div>
          <h1><img src="../img/favicon-razemint.png" width="50" alt=""> Christian Razemint</h1>
     </div>

     <ul>
          <li><a href="./index">Home</a></li>
          <li><a>Portfolio</a></li>
          <li><a href="./blog">Blog</a></li>
          <li class="other-projects">
               <a href="javascript:void(0)" class="dropbtn">Other Projects</a>
               <div class="dropdown-content">
                    <a href="./music">Music</a>
                    <a href="./photography">Photography</a>
               </div>

          </li>
     </ul>
</nav>