<nav class="title">
     <h1>Christian Razemint</h1>

     <ul>
          <li><a href="./index.html">Home</a></li>
          <li><a>Portfolio</a></li>
          <li><a href="./blog">Blog</a></li>
          <li class="other-projects">
               <a href="javascript:void(0)" class="dropbtn">Other Projects</a>
               <div class="dropdown-content">
                    <a href="./music">Music</a>
                    <a href="./photography">Photography</a>
               </div>

          </li>
     </ul>
</nav>